<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-4 edit">
                 <h3>Info</h3>
                 <h3>Contact</h3>
                 <h3>Company</h3>
                
            </div>
            <div class="col-4 edit">
                <h3>Account</h3>
                <h3>Terms</h3>
                <h3>Company</h3>
              
           </div>
           <div class="col-4 edit eflex">
            <img src="../assets/facebook.png" alt="x" width="30px">
            <img src="../assets/linkedin.png" alt="x" width="30px">
            <img src="../assets/youtube.png" alt="x" width="30px">
       </div>
        </div>
    </div>
</div>
