.inputf{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;
}

.inputf input {
    background: transparent;
    border: 1px solid var(--primary);
    height: 30px;
    width: 200px;
    margin-bottom: 8px;
}
.mar{
    margin-top: 10px;
    font-size: 18px;
    font-weight: 500;
}
.btn{
    background-color: var(--second); 
    border: none;
    color: white;
    font-weight: 600;
    padding: 8px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 1px;
    transition-duration: 0.4s;
    border-radius: 15px;
    border: 2px solid var(--first);
    cursor: pointer;
    margin-bottom: 20px;
}

  .btn:hover{
    background-color: var(--second);
    color: white;
  }