<div class="container">
  
    <div class="row" style="margin-top: 20px; background: var(--second); color: #fff;">
        <div class="col-7 " style="display: flex; align-items: center" style="text-align: center; margin-top:25px; font-weight: 800;">
            <h1 > {{data.name}}  </h1>
            <h1>{{data.seasonDisplay}}</h1>
        </div>

        <div class="col-5  inputf">

          <mat-form-field appearance="fill"  >
          <mat-label style="color: #fff;">Pick league: </mat-label>
          <mat-select [(value)]="selectedLeague" >
            <mat-option></mat-option>
            <mat-option  [value]="option.value" *ngFor="let option of leagues" (click)="renderStanding(selectedLeague,id)">{{ option.viewValue }}</mat-option>
           </mat-select>
           </mat-form-field>
          
          <input type="number" [(ngModel)]="id" (click)="renderStanding(selectedLeague,id)" style="color: #fff; text-align: center;" >
              <h1> {{id.value}}</h1>
                    
        </div>
    </div>
    
    <div class="row" style="background: lightgrey; color: var(--third); height: 30px; font-weight: bolder;">
        <div class="col-1">
            <h1 style="text-align: center;"> #</h1>
        </div>
        <div class="col-6">
            <h1>TEAM</h1>
        </div>
        <div class="col-5" style="text-align: center; ">
            <div class="row">
                <div class="col-3">
                    <h3> WINNS</h3>
                </div>
                <div class="col-3">
                    <h3> LOSSES</h3>
                </div>
                <div class="col-3">
                    <h3> POINFOR</h3>
                </div>
                <div class="col-3">
                    <h3> POINAGAIN</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="row"  *ngFor="let variable of data.standings; let i = index" style="border-bottom: 1px solid #000; border-radius: 20px">
        
        <div class="col-1 col-sm-1" style="background-color: var(--first);">
            
            <img [src]="variable.team.logos[0].href" width="40px" height="40px" alt="x" style="margin:5px 17px">
        </div>
        <div class="col-6 col-sm-6" style="background-color: var(--second); color: #fff;">
            <h1>{{variable.team.displayName}}</h1>
        </div>
        <div class="col-5 col-sm-5" style="background-color: var(--first); color: #fff;">
         
           
            <!--PROBA-->
           <div class="row" style="text-align: center;" >
            <div class="col-3 col-sm-3 mar" >
                 {{variable.stats[0].value}}
            </div>
            <div class="col-3 col-sm-3 mar">
                {{variable.stats[1].value}}
            </div>
            <div class="col-3 col-sm-3 mar">
                 {{variable.stats[4].value}}
            </div>
            <div class="col-3 col-sm-3 mar">
                 {{variable.stats[5].value}}
            </div>
           </div>
            
        </div>
    </div>
</div>

