
<div class="container" style="margin-top: 10px;">

    <div class="row" *ngFor=" let league of leagues" style="border-bottom: 1px solid #FFF;">
        <div class="col-2" style="background: var(--second); ;">
          <img [src]="league.logos.light" alt="" width="70px" height="70px" style="margin-left: 30%; margin-top: 8%;">
        </div>
        <div class="col-4 cen" style="background: var(--first); color: #FFF; text-align: center;">
            <h1>{{league.name}}</h1>
            
        </div>
        <div class="col-6" style="background: var(--second);">
            <p style="color: #fff; text-align: center; margin-top: 7px;"> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum totam facilis perferendis iure nisi laborum accusamus quam harum rem et doloremque labore consectetur dolor est, minima quae, praesentium fuga omnis..</p>
        </div>
    </div>
</div>
