<div class="container">
    <div class="row" *ngFor="let game of games" style="margin:10px 0; ">
        <div class="col-3 edit" style="   border-radius: 10px;">
            <h1 > {{game.home_team.full_name}}</h1>
        </div>
        <div class="col-6 edit" style="   border-radius: 10px; background: var(--second);">
            <h1> {{game.home_team_score}} : {{game.visitor_team_score}}</h1>
        </div>
        <div class="col-3 edit" style="  border-radius: 10px;">
            <h1> {{game.visitor_team.full_name}}</h1>
        </div>
       
    </div>
</div>
